<!DOCTYPE html>
<html>
<head>
  <title>HomesteadingAssets</title>
  <%= stylesheet_link_tag    "homesteading_assets/application", media: "all" %>
  <%= javascript_include_tag "homesteading_assets/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
